/* STYLE GUIDE */
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');
/* Colors */
:root {
	/* Primary */
	--red: hsl(0, 78%, 62%);
	--cyan: hsl(180, 62%, 55%);
	--orange: hsl(34, 97%, 64%);
	--blue: hsl(212, 86%, 64%);

	/* Neutral */
	--darkblue: hsl(234, 12%, 34%);
	--grayblue: hsl(229, 6%, 66%);
	--lightgray: hsl(0, 0%, 98%);
	
	/* Colors for hsla usage */
	--grayblue--hsla: 229, 6%, 66%;
}
/* Set font */
body, * {
	font-family: Poppins, sans-serif;
	font-size: 15px;
	color: var(--darkblue);
}

body {
	background-color: var(--lightgray);
}

/* Overall module */
.module {
	text-align: center;
	padding: 2em;
}

/* Heading */
.module h1 {
	font-size: 2em;
	font-weight: 200;
	line-height: 1.2em;
}
.module h1 strong { font-weight: 600; }

/* Subtitle */
.module p {
	max-width: 35em;
	margin: 1em auto;
	color: var(--grayblue);
	line-height: 1.6em;
}

/* AI descriptor cards */
/* Layout */
.module section.cards {
	display: grid;
	align-items: center;
	/* Positioning the group of cards as a whole */
	width: 90%;
	margin: 2em auto;
	text-align: left;
}
.module .cards .central {
	display: grid;
	row-gap: 1.5em;
}
/* Styling */
.module div.card {
	background: white;
	filter: drop-shadow(0 5px 8px hsla(var(--grayblue--hsla), 0.5));
	height: 13em;
	border-top: 4px solid;
	border-radius: 0.25em;
	padding: 1.5em;
}
.module div.card::after {
	content: "";
	display: block;
	width: 4em;
	height: 4em;
	background-size: 4em;
	position: absolute;
	right: 1.5em;
	bottom: 1.5em;
}
.module div.card h2 {
	font-weight: 600;
	font-size: 1.2em;
}
.module div.card p {
	color: var(--grayblue);
}
/* Card borders */
.module .card#supervisor { border-top-color: var(--cyan); }
.module .card#teambuilder { border-top-color: var(--red); }
.module .card#karma { border-top-color: var(--orange); }
.module .card#calculator { border-top-color: var(--blue); }
/* Card graphics */
.module .card#supervisor::after { background-image: url("{{ site.baseurl }}/assets/{{ page.projectlink }}/icon-supervisor.svg"); }
.module .card#teambuilder::after { background-image: url("{{ site.baseurl }}/assets/{{ page.projectlink }}/icon-team-builder.svg"); }
.module .card#karma::after { background-image: url("{{ site.baseurl }}/assets/{{ page.projectlink }}/icon-karma.svg"); }
.module .card#calculator::after { background-image: url("{{ site.baseurl }}/assets/{{ page.projectlink }}/icon-calculator.svg"); }

@media (min-width: 850px) {
	/* Cards positioning and spacing */
	.module section.cards {
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2em;
		max-width: 73em; /* 23x3 for 3 cards + 2x2 for the column gap */
	}
}

@media (max-width: 1000px) and (min-width: 600px) {
	.module section.cards {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 2em;
		row-gap: 1.5em;
		max-width: 48em; /* 23x2 for 2 cards + 1x2 for the column gap */
	}
	.module section.central {
		grid-row: 1 / span 2;
		grid-column: 2;
	}
}

@media (max-width: 600px) {
	/* Heading */
	.module h1 { font-size: 1.6em; }
	
	/* Subtitle */
	.module p { margin-bottom: 4em; }
	
	/* Cards sizing and spacing */
	.module section.cards {
		row-gap: 1.5em;
		max-width: 23em; /* 23x1 for 1 card + 0x2 for the column gap */
	}
}