/* STYLE GUIDE */
/* Import fonts */
/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
/* Colors */
:root {
	/* Primary */
	--violet: hsl(257, 40%, 49%);
	--magenta: hsl(300, 69%, 71%);
}

body, * {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
}

main { background: var(--violet) no-repeat; }

/* Make sure images don't overflow the container, particularly on mobile */
img { max-width: 100%; }

#content {
	color: white;
	line-height: 1.5;
	margin: auto;
	padding: 1em 0;
}

img[src*=logo] { margin: 1.5em 0; }

#content h2 { font: 600 1.8em/1.65 "Poppins", sans-serif; }

/* Desktop sizing */
@media (min-width: 600px) {
	main {
		background-image: url("/frontend-projects/assets/huddle-landing-page/bg-desktop.svg");
		background-position: center;
		background-size: cover;
	}
	
	#content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(auto, 3);
		column-gap: 2em;
		align-items: center;
		width: 90%;
		max-width: 100em;
	}
	
	img[src*=logo] {
		width: 12.5%;
		max-width: 14em;
		margin-bottom: 0;
		/* Maintain same padding on left as content section */
		padding-left: max(5%, calc((100% - 100em) / 2));
	}
	
	#content h2 {
		width: 70%;
		margin-bottom: 0.5em;
	}
	
	.socials {
		grid-column: 1 / span 2;
		text-align: right;
	}
}

/* Mobile sizing */
@media (max-width: 600px) {
	main {
		background-image: url("/frontend-projects/assets/huddle-landing-page/bg-mobile.svg");
		background-position: top;
		background-size: 100%;
	}
	
	#content {
		text-align: center;
		width: 85%;
	}
	
	img[src*=logo] {
		padding-left: 7.5%;
		width: 24%;
		min-width: 8.75em;
	}
	
	#content h2 {
		margin: 0.5em auto;
		font-size: 1.6em;
	}
}