/* STYLE GUIDE */
/* Import fonts */
/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
/* Colors */
:root {
	/* Primary */
	--violet: hsl(257, 40%, 49%);
	--magenta: hsl(300, 69%, 71%);
}
/* Set fonts */
body, * {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	transition: .2s;
}

/* Overall landing page container
	Default background and content spacing */
main {
	background: var(--violet) no-repeat;
	padding: 1em 0;
}

/* Make sure images don't overflow the container, particularly on mobile */
img { max-width: 100%; }

/* The centered holder for most of the page's elements
	Font adjustments and container spacing */
#content {
	color: white;
	line-height: 1.75;
	margin: auto;
	padding: 1em 0;
}

/* Huddle logo; spacing */
img[src*=logo] { margin: 1.5em 0; }

/* "Build the community your fans will love" heading; base font style */
#content h2 { font: 600 2.25em/1.65 "Poppins", sans-serif; }

/* Treat button and social icons as clickable */
#content button,
.socials i {
	cursor: pointer;
}

/* Register button
	Sizing/shaping/spacing/decoration of button, interactivity */
#content button {
	border: none;
	background-color: white;
	border-radius: 5em;
	font-family: "Poppins", sans-serif;
	color: var(--violet);
	padding: 0.5em;
	margin: 1em 0;
	min-width: 12.5em;
	box-shadow: 0 3px 5px 5px #0003;
}
#content button:hover {
	background-color: var(--magenta);
	color: white;
}
#content button:active {
	box-shadow: 0 1px 3px 3px #0003;
}

/* Social icons (individual icons)
	Alignment/spacing of icons, sizing/shaping/decoration of buttons, interactivity */
.socials i {
	border: 1px solid;
	font-size: 1.2em;
	text-align: center;
	width: 1em;
	height: 1em;
	padding: 0.5em;
	margin: 0.35em;
	border-radius: 100%; /* round! */
}
.socials i:hover { color: #fd51c0; }
.socials i:active {
	text-shadow: 0 0 10px #0003;
	box-shadow: 0 0 5px 5px #0003 inset;
}


/* Desktop sizing */
@media (min-width: 950px) {
	/* Overall landing page container
		Swap out page background image for wider version */
	main {
		background-image: url("/frontend-projects/assets/huddle-landing-page/bg-desktop.svg");
		background-position: center;
		background-size: cover;
	}
	
	/* Huddle logo
		Sizing and spacing */
	img[src*=logo] {
		width: 14%;
		/* Maintain same padding on left as content section */
		padding-left: max(5%, calc((100% - 100em) / 2));
	}
	
	/* Centered content container
		Arrange content layout and container width */
	#content {
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		column-gap: 3em;
		width: 90%;
		max-width: 100em;
	}
	
	/* Mockups
		Fill grid cell (height is auto) */
	#content img { width: 100%; }
	
	/* "Build the community your fans will love" heading
		Make slightly narrower than rest of content and space out */
	#content h2 {
		width: 80%;
		margin: 1.5em 0 0.5em;
	}
	
	/* Social icons container
		Align to far right and space out */
	.socials {
		grid-column: 1 / span 2;
		text-align: right;
		margin-top: 1em;
	}
}


/* On smaller screens, decrease header size slightly */
@media (max-width: 1200px) {
	#content { font-size: 12px; }
}


/* Mobile sizing */
@media (max-width: 950px) {
	/* Overall landing page container
		Swap out page background image for narrower version */
	main {
		background-image: url("/frontend-projects/assets/huddle-landing-page/bg-mobile.svg");
		background-position: top;
		background-size: 100%;
	}
	
	/* Huddle logo
		Fix spacing value and width on smaller screens */
	img[src*=logo] {
		padding-left: 7.5%;
		/* width: min, regular, max values */
		width: max(8.75em, min(24%, 12em));
	}
	
	/* Centered content container
		Center all content and adjust width on smaller screens */
	#content {
		text-align: center;
		width: 85%;
	}
	
	/* Mockups
		Provide a width limit to prevent image from taking up full screen */
	#content img { max-width: min(50em, 100%); }
	
	/* "Build the community your fans will love" heading
		Decrease font size and spacing from other elements */
	#content h2 {
		margin: 0.5em auto;
		font-size: 1.6em;
	}
	
	/* Register button
		Make shadow a little tighter on smaller screens */
	#content button { box-shadow: 0 3px 3px 3px #0003; }
	#content button:active { box-shadow: 0 1px 1px 1px #0003; }
	
	/* Social icons container
		Space things out */
	.socials { margin: 3em 0 0.5em; }
}