/* STYLE GUIDE */
/* Import fonts */
/* Headings */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
/* Colors */
:root {
	/* Primary */
	--violet: hsl(257, 40%, 49%);
	--magenta: hsl(300, 69%, 71%);
}

body, * {
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	transition: .2s;
}

main { background: var(--violet) no-repeat; }

/* Make sure images don't overflow the container, particularly on mobile */
img { max-width: 100%; }

/* #content acts as the centered holder for most of the page's elements */
#content {
	color: white;
	line-height: 1.75;
	margin: auto;
	padding: 1em 0;
}

/* Huddle logo */
img[src*=logo] { margin: 1.5em 0; }

/* Build the community your fans will love heading */
#content h2 { font: 600 2.25em/1.65 "Poppins", sans-serif; }

/* Treat button and social icons as clickable */
#content button,
.socials i {
	cursor: pointer;
}

/* Register button */
#content button {
	border: none;
	background-color: white;
	border-radius: 5em;
	font-family: "Poppins", sans-serif;
	color: var(--violet);
	padding: 0.5em;
	margin: 1em 0;
	min-width: 12.5em;
	box-shadow: 0 3px 5px 5px #0003;
}
#content button:hover {
	background-color: var(--magenta);
	color: white;
}
#content button:active {
	background-color: var(--violet);
	color: white;
}

/* Desktop sizing */
@media (min-width: 950px) {
	main {
		background-image: url("/frontend-projects/assets/huddle-landing-page/bg-desktop.svg");
		background-position: center;
		background-size: cover;
	}
	
	img[src*=logo] {
		width: 14%;
		/* Maintain same padding on left as content section */
		padding-left: max(5%, calc((100% - 100em) / 2));
	}
	
	#content {
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		column-gap: 3em;
		width: 90%;
		max-width: 100em;
	}
	
	#content img { width: 100%; }
	
	#content h2 {
		width: 80%;
		margin: 1.5em 0 0.5em;
	}
	
	.socials {
		grid-column: 1 / span 2;
		text-align: right;
	}
}

/* On smaller screens, decrease header size slightly */
@media (max-width: 1200px) {
	#content { font-size: 12px; }
}

/* Mobile sizing */
@media (max-width: 950px) {
	main {
		background-image: url("/frontend-projects/assets/huddle-landing-page/bg-mobile.svg");
		background-position: top;
		background-size: 100%;
	}
	
	img[src*=logo] {
		padding-left: 7.5%;
		width: 24%;
		min-width: 8.75em;
	}
	
	#content {
		text-align: center;
		width: 85%;
	}
	
	#content img { max-width: min(50em, 100%); }
	
	#content h2 {
		margin: 0.5em auto;
		font-size: 1.6em;
	}
}