/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	background: #08454e;
	font: 18px "Karla", sans-serif;
	padding: 0 2em;
	color: #5fe2bd;
	text-align: center;
	transition: .2s;
}

h1 {
	font-size: 1.6em;
	background: #000a3e;
	color: #5cbeba;
	padding: 0.5em 1em;
	max-width: 35em;
	margin: 0.67em auto;
	border: 4px double;
	border-top: none;
	border-bottom: none;
}

h2 { margin-bottom: 0.5em; }

h2 + .toc { margin-top: 0; }

a, a:link { color: #9cff97; margin: 2em auto; }
a:visited { color: #7cd156; }
a:hover { color: white; }

table {
	border-collapse: collapse;
	background: #002a48bf;
	width: 100%;
	max-width: 45em;
	margin: 2em auto;
}
thead, tfoot { background: #0003; }
thead a, tfoot a { text-decoration: none; }
tr:nth-child(even) { background: #fff1; }
tbody td:first-child,
tbody td:last-child {
	padding: 0.5em;
	width: 5%;
}
td a, td a:link {
	display: block;
	margin: 0;
	padding: 0.5em;
}

@media (max-width: 550px) {
	body {
		font-size: 14px;
		padding: 0 1em;
	}
	
	.toc tbody td:last-child { display: none; }
}