---
assets:	"/assets/intro-component-with-signup-form"
---

// STYLE GUIDE CONSTANTS
// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
// Colors
$red: hsl(0, 100%, 74%); // primary
$green: hsl(154, 59%, 51%); // primary
$blue: hsl(248, 32%, 49%); // accent
$blue-dark: hsl(249, 10%, 26%); // neutra;
$blue-gray: hsl(246, 25%, 77%);

// Desktop-mobile layout switch point
$breakpoint: 600px;

@mixin poppins {
	font-family: "Poppins", sans-serif;
}

body {
	font-size: 16px;
	@include poppins;
}

#module {
	background: {
		color: $red;
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	padding: 5em;
	display: grid;
	grid-template-columns: 1fr 1fr;

	.text {
		grid-row: 1 / span 2; // takes up full left space
		align-self: center; // vertical centering
	}

	form {
		// vertical item layout
		display: flex;
		flex-direction: column;

		label.accessibility {
			// Hide labels that are only included for accessibility's sake from the viewer
			// though floating labels would be better...
			position: absolute;
			left: -100%;
		}

		p { // Terms and Conditions message
			align-self: center;
		}
	}

	@media (min-width: $breakpoint) {
		background-image: url("{{ site.baseurl}}{{ page.assets }}/bg-intro-desktop.png");
	}

	@media (max-width: $breakpoint) {
		background-image: url("{{ site.baseurl}}{{ page.assets }}/bg-intro-mobile.png");
	}
}