/* STYLE GUIDE IMPORTS */
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Colors */
:root {
	--cyan: hsl(179, 62%, 43%); /* Primary */
	--yellow: hsl(71, 73%, 54%); /* Primary */
	--lightgray: hsl(204, 43%, 93%); /* Neutral */
	--grayblue: hsl(218, 22%, 67%); /* Neutral */
	
	/* Numbers only, for hsla usage */
	--cyan--hsla: 179, 62%, 43%; /* Primary */
	--yellow--hsla: 71, 73%, 54%; /* Primary */
	--lightgray--hsla: 204, 43%, 93%; /* Neutral */
	--grayblue--hsla: 218, 22%, 67%; /* Neutral */
}
/* Font */
body, * {
	font-size: 16px;
	font-family: "Karla", sans-serif;
	border: none; /* Disable prior borders */
}

body { background-color: var(--lightgray); }

/* Arranging main module */
.joinmodule {
	display: grid;
	background: white;
	color: white;
	width: 85%;
	max-width: 40em;
	margin: 3em auto;
	border-radius: 0.35em;
	filter: drop-shadow(0 5px 10px hsla(var(--grayblue--hsla), 0.5));
}

/* Heading styles */
.joinmodule h3, .joinmodule h4 {
	font-size: 1.1em;
	font-weight: bold;
}

/* Padding for all sections */
.joinmodule div {
	padding: 2em;
}

/* Top section */
.joinmodule .top h3 {
	font-size: 1.4em;
	margin-bottom: 0.75em;
	color: var(--cyan);
}
.joinmodule .top h4 {
	color: var(--yellow);
	margin-bottom: 0.5em;
}
.joinmodule .top p {
	color: var(--grayblue);
}

/* Subscription section */
.joinmodule .subscribe {
	background: var(--cyan);
	/* Space items out to match benefits section */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.joinmodule .subscribe button {
	background-color: var(--yellow);
	color: white;
	padding: 0.75em;
	border-radius: 0.35em;
}

/* Benefits section */
.joinmodule .benefits {
	background: hsla(var(--cyan--hsla), 0.85);
}
.joinmodule ul {
	font-size: 0.9em;
	color: var(--lightgray);
	margin-top: 1em;
}

@media screen and (min-width: 550px) {
	/* Grid layout for desktop */
	.joinmodule { grid-template-columns: 1fr 1fr; }
	.joinmodule .top { grid-column: 1 / span 2; }
	.joinmodule .subscribe { grid-row: 2; border-bottom-left-radius: 0.35em; }
	.joinmodule .benefits { grid-row: 2; border-bottom-right-radius: 0.35em; }
}

@media screen and (max-width: 550px) {
	.joinmodule .benefits { border-radius: 0 0 0.35em 0.35em; }
}