/* For the home page link */
.homelink {
	position: fixed;
	left: -7em;
	top: 1em;
	background: black;
	color: white;
	font-family: Georgia, serif;
	border-radius: 0 0.5em 0.5em 0;
	opacity: 0.25;
}
.homelink:hover {
	left: -0.25em;
	opacity: 1;
}

.homelink:not(:hover)::after {
	content: ">";
	font-weight: bold;
	padding-right: 0.5em;
}

.homelink a {
	pointer-events: all;
	display: inline-block;
	width: 6.5em;
	text-align: center;
	padding: 0.5em;
	color: white;
}

/* For the header */
header {
	background: #08454e;
	text-align: center;
	padding: 0.5em;
}
header h1 {
	color: #5fe2bd;
	font-size: 1.2em;
}


/* For the attribution links in the footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }