---
layout:		index
---
<p>You are currently viewing <em>posts sorted by date, newest to oldest</em>.<br><a href="{{ '/indexbytags.html' | relative_url }}">Click here for a list of posts sorted by tag.</a></p>

<table class="toc">
	<thead>
		<tr>
			<td colspan="4"><a href="{{ '/indexreverse.html' | relative_url }}">⇅ Reverse Sort ⇅</a></td>
		</tr>
	</thead>
	<tbody>
		{% assign projects = site.posts %}
		{% for post in projects %}
		<tr>
			<td>{{ forloop.rindex }}</td>
			<td><a href="{{ post.url | relative_url }}">{{ post.projectname }} {% if post.wip %}(WIP){% endif %}</a></td>
			<td><a href="{{ post.frontend }}">Challenge on FM.io</a></td>
			<td>{{ post.date | date: "%Y.%m.%d" }}</td>
		</tr>
		{% endfor %}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><a href="{{ '/indexreverse.html' | relative_url }}">⇅ Reverse Sort ⇅</a></td>
		</tr>
	</tfoot>
</table>