---
layout:		index
---
<p>You are currently viewing <em>posts sorted by tags</em>.<br><a href="{{ site.baseurl }}">Click here for a list of posts sorted by date.</a></p>

{% assign taglist = site.tags | sort %}
{% for tag in taglist %}
<section>
	<h2>Posts in <em>{{ tag[0] }}</em></h2>

	<table class="toc">
		<tbody>
			{% for post in tag[1] %}
			<tr>
				<td>{{ forloop.rindex }}</td>
				<td><a href="{{ post.url | relative_url }}">{{ post.projectname }} {% if post.wip %}[WIP]{% endif %}</a></td>
				<td><a href="{{ post.frontend }}">Challenge on FM.io</a></td>
				<td>{{ post.date | date: "%Y.%m.%d" }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endfor %}