<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

	<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/favicon-32x32.png">

	{% capture pagetitle %}
	{% if page.projectname %}{{ page.projectname}} | {% endif %}{{ site.title }}
	{% endcapture %}
	<title>{{ pagetitle }}</title>

	<!-- Include basic site CSS and the CSS for the specific page -->
	<link rel="stylesheet" href="{{ 'css/reset.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ 'css/sitewide.css' | prepend: site.baseurl }}">
	{% if page.projectlink %}
		<link rel="stylesheet" href="{{ page.projectlink | prepend: 'css/' | prepend: site.baseurl | append: '.css' }}">
	{% endif %}
	<!-- Include any additional required CSS -->
	{% if page.sheets %}
		{% for sheet in page.sheets %}
		<link rel="stylesheet" href="{{ sheet | prepend: 'css/' | prepend: site.baseurl | append: '.css' }}">
		{% endfor %}
	{% endif %}
</head>